{% extends 'base.html' %}

{% block content %}
<div class="masthead">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-6">
                <div class="card shadow mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Submissão de relatórios de atividades</h5>
                        <p class="card-text">
                            Formulário para envio de relatórios de atividades de Mestrado e Doutorado
                        </p>      
                        <a href="{% url 'relatorios:relatorios_new' %}" class="btn btn-lg btn-outline-primary">Enviar Relatório</a>
                    </div>
                </div>
                {% if perms.relatorios.change_relatorios %}
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Relatórios Enviados</h5>
                        <p class="card-text">
                            Administração dos relatórios de atividades enviados
                        </p>      
                        <a href="{% url 'relatorios:relatorios_list' %}" class="btn btn-lg btn-outline-primary">Enviar Relatório</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}