{% extends 'base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}


{% block content %}
    <div class="container">
        <div class="header-top">
            <form action="#" method="post" novalidate>
                <div class="card shadow">
                    <div class="card-header">
                        <h4>Enviar Relatório</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form.nome.label_tag }}
                            {{ form.nome|add_class:'form-control form-control-lg' }}
                        </div>

                        <div class="form-group">
                            {{ form.relator.label_tag }}
                            {{ form.relator|add_class:'form-control form-control-lg' }}
                        </div>
                        <div class="form-group">
                            {{ form.orientador.label_tag }}
                            {{ form.orientador|add_class:'form-control form-control-lg' }}
                        </div>
        
                        <div class="form-group">
                            {{ form.programa.label_tag }}
                            {{ form.programa|add_class:'form-control form-control-lg' }}
                        </div>
        
                        <div class="form-group">
                            {{ form.relatorio.label_tag }}
                            {{ form.relatorio|add_class:'form-control' }}
                        </div>
        
                        <div class="form-group">
                            {{ form.encaminhamento.label_tag }}
                            {{ form.encaminhamento|add_class:'form-control' }}
                        </div>
        
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
