{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="header-top">
        <div class="card shadow">
            <div class="card-header">
                <h4>Relatório de {{ relatorio.nome }}</h4>
            </div>
            <div class="card-body">

                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <h4>Orientador</h4>
                        <h4>{{ relatorio.orientador }}</h4>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <h4>Programa</h4>
                        <h4>{{ relatorio.programa }}</h4>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <h4>Relatório</h4>
                        <a class="btn btn-outline-primary" href="{{ relatorio.relatorio.url }}">
                            Download
                        </a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <h4>Encaminhamento</h4>
                        <a class="btn btn-outline-primary" href="{{ relatorio.encaminhamento.url }}">
                            Download
                        </a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <h4>Relator</h4>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card shadow mt-3">
            <div class="card-header"><h4>Encaminhar para o relator</h4></div>
            <div class="card-body">
                <form action="#" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline' %}      
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}