{% extends 'base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}


{% block content %}
    <div class="container">
        <div class="header-top">
            <form 
                action="{% url 'relatorios:relatorios_new' %}" 
                method="post"
                novalidate
                enctype="multipart/form-data"
            >
                {% csrf_token %}
                <div class="card shadow">
                    <div class="card-header">
                        <h4>Relatório de atividades</h4>
                    </div>
                    {% bootstrap_form_errors form %}
                    <div class="card-body">
                        {% bootstrap_messages %}
                        {% bootstrap_form form %}
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
