{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">
    <div class="header-top">
        <div class="row">
            <div class="col-md-2">
                {% include 'sidebar.html' %}
            </div>
            <div class="col-md-10">
                <div class="card shadow">
                    <div class="card-header"><h4>Precer do relator</h4></div>
                    {% bootstrap_messages %}
                    <div class="card-body"> 
                        <form novalidate action="{{ action }}" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button class="btn btn-outline-primary" type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}