{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid">
    <div class="header-top">
        <div class="card shadow">
            <div class="card-header"><h4>Precer do relator</h4></div>
            <div class="card-body"> 
                <form action="{% url 'parecer:parecer_new' slug %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-outline-primary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}